<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Find games </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
          id="filter-button"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="filter-button">
      <ng-template>
        <ion-content>Popover Content</ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="search"
      [debounce]="1000"
      (ionChange)="searchGames()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      *ngFor="let game of games"
      (click)="setActiveGame(game)"
      [routerLink]="['searchedGame']"
    >
      <ion-thumbnail slot="start">
        <ion-img [src]="game.thumb_url" class="thumbnail"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{game.name}}</h2>
        <div class="game-icon">
          <ion-icon name="people"></ion-icon>
          <p>{{game.min_players}} - {{game.max_players}}</p>
        </div>
        <div class="game-icon">
          <ion-icon name="time"></ion-icon>
          <p>{{game.min_playtime}} - {{game.max_playtime}}</p>
        </div>
        <div class="rating">
          <ion-icon name="star" item-start></ion-icon>
          <p>{{game.average_user_rating | number: '1.0-2'}}</p>
        </div>
        <p text-wrap>{{game.description_preview}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreGames($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more games..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
